<!--The content below is only a placeholder and can be replaced.-->
<div class="login-header">
  <div class="login-header__logo-container">
    <a href="https://www.doordash.com" target="_blank" rel="noopener noreferrer" class="login-header__logo">Logo</a>
  </div>
</div>

<div class="login-box__container">
  <form class="login-box__form" onSubmit={this.handleOnSubmit}>
    <h2>Join the DoorDash Chat</h2>
    <!-- <input
      id="user-name"
      name="username"
      type="text"
      autoComplete="off"
      autoFocus
      value={value}
      disabled={isLoading}
      className="input-field"
      placeholder="Type your username..."
      onChange={this.handleOnChange} />
    <button type="submit" class="button button-default" disabled={isLoading}>
     {{isLoading ? `Signing in...` : `Let's Go`}}
    </button> -->

    <input matInput class="input-field" placeholder="Type your username..." name="username" type="text">

    <button mat-button type="submit" class="button button-default" routerLink="/chatBox">Let's chat</button>
  </form>
</div>


<div class="login-footer__container">
  <div class="login-footer__left-items">
    <a href="https://www.doordash.com" target="_blank" rel="noopener noreferrer" class="login-footer__logo">Logo</a>
    <span>&copy; 2019 DoorDash</span>
  </div>
  <div class="login-footer__right-items">
    <a class="twitter-social" href="http://twitter.com/doordash" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a class="facebook-social" href="http://facebook.com/doordash" target="_blank" rel="noopener noreferrer">Facebook</a>
    <a class="instagram-social" href="http://instagram.com/doordash" target="_blank" rel="noopener noreferrer">Instagram</a>
  </div>
</div>
<router-outlet></router-outlet>

